<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
      <%= link_to "delete", user, method: :delete, 
                                  data: { confirm: "You sure?" } %>
  <% end %>

  <% if current_user.admin? && @user != current_user %>
  <%=link_to "Deactivate", deactivate_user_path(user), method: :put,
                                                       data: { confirm: "You sure?" }%>
  <% end %>
</li>
